<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script type="text/javascript" src="/js/category.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
<ul class="nav navbar-nav pull-right">
<li class="list-item"><a href="/login"> LOGIN</a> </li>
<li class="list-item"><a href="/signup">SIGNUP</a></li>
</ul>
</nav>

<nav class="navbar navbar-default">
<div class="container">
<ul class="nav navbar-nav">
<li class="list-item"><a href="/">HOME</a></li>
<li class="list-item"><a href="#">ABOUT</a></li>
<li class="list-item"><a href="#">CONTACT</a></li>
<li class="list-item"><a href="#">HELP</a></li>
</ul>
</div>
</nav>
	
	<div class="container" style="min-height: 500px;height: auto" >

<%-include(pagename);%>

	</div>
</body>
</html>